body{
    background-color: black;
}



.contato{
    width: 450px;
    border-style: dashed;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 15px;
    
}

.contato a{
    text-decoration: none;
    color:aliceblue;
}

.about{
    width: 450px;
    border-style: dashed;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 15px;
}

.educacao{
    width: 450px;
    border-style: dashed;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 15px;
}

.habilidades{
    width: 450px;
    border-style: dashed;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 15px;
}

.experiencia{
    width: 450px;
    border-style: dashed;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin-top: 15px;
}